# Gradle
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS files
*.log
.DS_Store

# Android Studio
.idea/
captures/
.externalNativeBuild/
.cxx/

# Gradle Wrapper JAR (kept tracked by default here)
!gradle/wrapper/gradle-wrapper.jar


