<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.unimelb.garden.mapper.GardenMapper">

    <select id="selectNearBy" parameterType="map" resultType="org.unimelb.garden.entity.Garden">
        SELECT g.*
        FROM garden g
        WHERE g.latitude IS NOT NULL
          AND g.longitude IS NOT NULL
          AND (
                  2 * 6371000 * ASIN(
                          SQRT(
                                  POWER(SIN(RADIANS((#{latitude} - g.latitude) / 2)), 2) +
                                  COS(RADIANS(#{latitude})) * COS(RADIANS(g.latitude)) *
                                  POWER(SIN(RADIANS((#{longitude} - g.longitude) / 2)), 2)
                          )
                                )
                  ) <![CDATA[ <= ]]> #{radius}
        ORDER BY (
                     2 * 6371000 * ASIN(
                             SQRT(
                                     POWER(SIN(RADIANS((#{latitude} - g.latitude) / 2)), 2) +
                                     COS(RADIANS(#{latitude})) * COS(RADIANS(g.latitude)) *
                                     POWER(SIN(RADIANS((#{longitude} - g.longitude) / 2)), 2)
                             )
                                   )
                     ) ASC LIMIT 200
    </select>

    <insert id="insertBatch">
        INSERT INTO garden (name, latitude, longitude, postcode, address, suburb, area, created_at, updated_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.latitude}, #{item.longitude},
            #{item.postcode}, #{item.address}, #{item.suburb}, #{item.area},
            NOW(), NOW())
        </foreach>
    </insert>

</mapper>
